<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>controllers.IndexController</servlet-class>
        <init-param>
            <param-name>DetailsPageController</param-name>
            <param-value>controllers.sub.DetailsPageController</param-value>
        </init-param>
        <init-param>
            <param-name>MenuMainController</param-name>
            <param-value>controllers.sub.MenuMainController</param-value>
        </init-param>
        <init-param>
            <param-name>MenuConnectAff</param-name>
            <param-value>controllers.sub.MenuConnectAff</param-value>
        </init-param>
        <init-param>
            <param-name>CreateAccountController</param-name>
            <param-value>controllers.sub.CreateAccountController</param-value>
        </init-param>
        <init-param>
            <param-name>MenuConnectGest</param-name>
            <param-value>controllers.sub.MenuConnectGest</param-value>
        </init-param>
        <init-param>
            <param-name>MenuPanierAff</param-name>
            <param-value>controllers.sub.MenuPanierAff</param-value>
        </init-param>
        <init-param>
            <param-name>OrderController</param-name>
            <param-value>controllers.sub.OrderController</param-value>
        </init-param>
        <init-param>
            <param-name>SectionController</param-name>
            <param-value>controllers.sub.SectionController</param-value>
        </init-param>
        <init-param>
            <param-name>ShoppingCartController</param-name>
            <param-value>controllers.sub.ShoppingCartController</param-value>
        </init-param>
        <init-param>
            <param-name>ModalController</param-name>
            <param-value>controllers.sub.ModalController</param-value>
        </init-param>
        <init-param>
            <param-name>SelectEventDateController</param-name>
            <param-value>controllers.sub.SelectEventDateController</param-value>
        </init-param>
        <init-param>
            <param-name>jeutestcontroller</param-name>
            <param-value>controllers.sub.jeutestcontroller</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/IndexController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/page404.html</location>
    </error-page>
    <ejb-local-ref>
        <ejb-ref-name>ManageUser</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beans.ManageUserLocal</local>
        <ejb-link>Makaromi-ejb.jar#ManageUser</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ManageUser1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beans.ManageUserLocal</local>
        <ejb-link>Makaromi-ejb.jar#ManageUser</ejb-link>
    </ejb-local-ref>
</web-app>
<!--<?xml version="2.4" encoding="UTF-8">-->
